.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.btn {
  cursor: pointer;
  text-transform: uppercase;
  background-color: $accent-color;
  color: $text-color-white;
  margin: 15px auto;
  padding: 10px 30px;

  border: 1px solid $accent-color;
  border-radius: 10px;
}
.btn:hover,
.btn:focus {
  background-color: $accent-color-2;
  border-color: $accent-color-2;
  box-shadow: 3px 3px 10px 0px #fff;
}
