<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-info-rights">
                <p class="footer-info__text"><span class="footer-copyright">&#169</span> 2022 | All Rights Reserved |</p>
            </div>
            <div class="footer-info-about">
                <p class="footer-info__text">Developed with</p>
                   <svg class="footer-icon" width="14" height="12.88">
                        <use href="./images/symbol-defs.svg#icon-heart"></use>
                    </svg>
                <p class="footer-info__text">by</p>
                <a class="footer-info__text footer-link js-link-footer" href="#">GoIT Students</a>
            </div>
        </div>
    </div>
</footer>