<section class="gallery">
<!-- <div class="res-list"></div> -->
<h1 class="is-hidden">Gallery Movies</h1>
<div class="container">
<ul class="gallery-list grid" >
 
</ul>
<div class="pagination">
    <ul class="pagination-list pagination-popular" id="pagination-list">
              <!-- <li class="pagination-list-item btn-pagination btn-pag-left">
                        <svg class="btn-icon" width="16" height="16">
                            <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                </li>
                <li class="pagination-list-item btn-pagination">1</li>
                <li class="pagination-list-item btn-pagination pag-activ">2</li>
                <li class="pagination-list-item btn-pagination">3</li>
                <li class="pagination-list-item btn-pagination">4</li>
                <li class="pagination-list-item btn-pagination">5</li>
                <li class="pagination-list-item btn-pagination">6</li>
                <li class="pagination-list-item btn-pagination" disabled>...</li>
                <li class="pagination-list-item btn-pagination">7</li>
                <li class="pagination-list-item btn-pagination btn-pag-right">
                    <svg class="btn-icon" width="16" height="16">
                                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </li>-->
            </ul>
            
</div>
<!-- <button type="button" class="btn btn-loader is-hidden">load more...</button> -->
</div>
<div class="anchor" id="scrollArea"></div>
</section>