<!--шапка сайта-->
<header class="header">
    <div class="container">

        <a href="./index.html" class="logo header__logo" target="_blank" rel="noopener noreferrer  nofollow">
            <img src="./images/logo.svg"
                alt="The Movie Database (TMDB)" width="154" height="20">
        
        </a>
        <button type="button" class="menu-open-btn" data-menu-open>
            <svg width="40" height="40" aria-label="Mobile menu switch" data-menu-open>
                <use href="./images/symbol-defs.svg#icon-menu"></use>
            </svg>
        </button>

        <nav class="navigation">

            <ul class="menu-list ">
                <li class="menu-list__item item">
                    <a href="./index.html" class="link menu-list__link current"
                        rel="noopener noreferrer  nofollow">HOME</a>
                </li>
                <li class="menu-list__item item">
                    <a href="./film-main.html" class="link menu-list__link "
                        rel="noopener noreferrer  nofollow">MY LIBRARY</a>
                </li>
                <li class="menu-list__item item">
                    <a href="" class="link menu-list__link " rel="noopener noreferrer nofollow">Контакты</a>
                </li>
            </ul>

        </nav>
    
    </div>
    <!-- mobile menu -->
    <div class="mob-menu is-hidden" data-menu>
        <div class="container">
            <div class="mob-menu-top">
                <button type="button" class="menu-close-btn" data-menu-close>
                    <svg width="40" height="40" aria-label="Mobile menu switch">
                        <use href="./images/symbol-defs.svg#icon-cross"></use>
                    </svg>
                </button>
                <ul class="mob-menu-list list">
                    <li class="mob-menu-list__item">
                        <a href="./index.html" class="mob-menu-list__link link">HOME</a>
                    </li>
                    <li class="mob-menu-list__item">
                        
                        <a href="./film-main.html" class="mob-menu-list__link link">
                           MY LIBRARY</a>
                    </li>
                    <li class="mob-menu-list__item">
                        <a href="#" class="mob-menu-list__link link">Контакты</a>
                    </li>

                </ul>
            </div>
            
        </div>
    </div>
    <div class="search">
        <form class="inner-search-form" id="inner-search-form"  accept-charset="utf-8">
             <input class="inner-search-input" id="inner-search-input" name="searchQuery" type="text" 
                     autocomplete="off" placeholder="Search for a movie..." >
            
            <button class="inner-search-submit"  type="submit" >Search</button>
        </form>
    </div>
    <div class="toolbar">
            <div class="theme-switch">
                <svg class="theme-switch__icon" role="img" aria-label="Icon sun">
                    <use href="./images/symbol-defs.svg#sun"></use>
                </svg>
                <div class="theme-switch__control"> 
                    <input class="theme-switch__toggle" type="checkbox" name="theme"
                        id="theme-switch-toggle" aria-label="Switch between dark and light theme"> 
                    <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"></label>
                    <div aria-hidden="true" class="theme-switch__marker"></div>
                </div> 
                <svg class="theme-switch__icon" aria-label="Icon moon">
                    <use href="./images/symbol-defs.svg#moon"></use>
                </svg>
            </div>
    </div>
    
</header>